{% extends 'base.html' %}

{% load dictkey %}

{% block title %}
  {{ assignment.name }}
{% endblock %}

{% block content %}
  <ul class="list-group">
    {% for question in assignment.questions.all %}
      <li class="list-group-item justify-content-between d-flex bd-highlight mb-3">
        <button class="btn btn-primary me-auto p-2 bd-highlight" style="height: 3rem;" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ question.question_id }}">Problem {{ question.question_id }}</button>
        
        <div class="collapse" id="collapse{{ question.question_id }}" style="width: 80%;">
          {{ question.description_rendered | safe }}
        </div>

        <p class="p-2 bd-highlight">
          {% if submissions|dictkey:question.question_id is not None %}

          {{ submissions|dictkey:question.question_id }} %
          {% else %}
            No answer
          {% endif %}
        </p>
        
        {% if active %}
          <a class="p-2 bd-highlight" href="{% url 'submission_page' assignment.pk question.question_id %}">Solve</a>
        {% endif %}
      </li>
      
    {% endfor %}

    <h3> You got total of {{ score }} out of {{ all_scores }} </h3>

{% endblock %}

