{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <h1>Hi {{ user.username }}!</h1>
  <br>
  <h2>Assignments:</h2>

  <ul class="list-group">
    {% for assignemnt in assignments %}
      <li class="list-group-item d-flex justify-content-between align-items-center {% if assignemnt.active %}{% endif %}">
        <div class="ms-2 me-auto">
          <a href="{% url 'assignment' assignemnt.pk %}" class="fw-bold">{{ assignemnt.name }}</a>

          {% if assignemnt.active %}
            <small class="text-muted">due {{ assignemnt.remained.days }} days</small>
          {% else %}
            <small style="color: red;">Deadline passed</small>
          {% endif %}
        </div>

        <span class="badge bg-primary rounded-pill">{{ assignemnt.questions.all|length }}</span>
      </li>
    {% endfor %}
  </ul>

  <div style="min-height: 1rem;"></div>
  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button class="btn btn-outline-secondary" type="submit">Logout</button>
  </form>
{% endblock %}
